:root {
  --grid: .25rem;
  --color-slate-100: #f1f5f9;
  --color-slate-700: #334155;
  --color-sky-500: #0ea5e9;
}

* {
  --padding: ;
  --color: ;
}

[style*="--color:"] {
  color: var(--color);
}

[style*="--padding:"] {
  padding: calc(var(--grid) * var(--padding));
}

[style*="--padding:var"], [style*="--padding: var"] {
  padding: var(--padding);
}

@media (width >= 1024px) {
  [style*="--medium_color:"] {
    color: var(--medium_color, var(--color));
  }
}
